<!DOCTYPE html>
<html layout:decorate="~{shared/easuiIndexLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/viewModel/workorder.js}"></script>
    <script th:inline="javascript">
        let host = [[${#httpServletRequest.getContextPath()}]];

        $(function () {
            initControl();

            initGrid();
        });

        function initControl() {
            $("#userId").combobox({
                valueField: "id",
                textField: "text",
                data: []
            });

            $("#organId").combotree({
                url: host + '/organ/findTree',
                valueField: "id",
                textField: "text",
                onChange: function (newValue, oldValue) {
                    $("#userId").combobox({
                        url: host + '/account/findByOrganId?id=' + newValue,
                        valueField: "id",
                        textField: "name"
                    });
                }
            });
        }

        function initGrid() {
            let option = easyuiUtil.datagrid.getOptionTemplate();
            option.iconCls = 'icon-table';
            option.url = host + "/workorder/findByPage";
            option.columns.push([
                {field: 'id', hidden: true},
                {field: 'status', title: "工单状态", align: 'center', width: '10%', formatter: WOKRORDER.formatStatus},
                {field: 'importName', title: "工单类型", align: 'center', width: '10%'},
                {field: 'orderNo', title: "工单号", align: 'center', width: '12%'},
                {field: 'sendName', title: "派发人员", align: 'center', width: '7%'},
                {field: 'sendTime', title: "派发时间", align: 'center', width: '11%'},
                {field: 'organizationName', title: "派发单位", align: 'center', width: '10%'},
                {
                    field: 'content',
                    title: "业务内容",
                    align: 'center',
                    width: '7%',
                    formatter: function (value, row, index) {
                        if (value) {
                            if (value.indexOf(".jpg") > -1) {
                                return '<img src="{0}" />'.replace("{0}", value);
                            }
                        }
                        return value;
                    }
                },
                {field: 'workorderUserName', title: "处理人员", align: 'center', width: '10%'},
                {field: 'workorderUserPhonenum', title: "联系电话", align: 'center', width: '10%'},
                {field: 'finishTime', title: "完成时间", align: 'center', width: '11%'},
                // {field:'',title:"耗时",align:'center',width:'7%'},
                // {field:'',title:"耗时",align:'center',width:'7%'},
                // {field:'',title:"链接原指标",align:'center',width:'7%'}
            ]);

            option = easyuiUtil.datagrid.combineOption(option);

            $('#mainTable').datagrid(option);
        }

        function queryByCondition() {
            let bTime = $("#bTime").datetimebox("getValue");
            let eTime = $("#eTime").datetimebox("getValue");
            let param = {
                beginTime: bTime,
                endTime: eTime,
                organId: $("#organId").combotree("getValue"),
                userId: $("#userId").combobox("getValue")
            };
            $('#mainTable').datagrid('load', {paramJson: JSON.stringify(param)});
        }
    </script>
</head>
<body layout:fragment="content">
<table id="mainTable" cellspacing="0" cellpadding="0" style="width:100%; height:100%"
       data-options="toolbar:'#toolBar_mainTable',fitColumns:true"></table>
<div id="toolBar_mainTable" style="padding: 5px; height: auto; display: none">
    <div style="margin-bottom: 5px">
        <form id="form_search">
            派发时间：<input id="bTime" class="easyui-datetimebox"/>至<input id="eTime" class="easyui-datetimebox"/>
            供电单位：<select id="organId"></select>
            处理人员：<select id="userId"></select>

            <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="false"
               onclick="queryByCondition()">查询</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" plain="false" onclick="ResetCondition()">清空</a>
        </form>
    </div>
</div>
</body>
</html>