<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title></title><meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE =edge,chrome =1" />
        <title></title>
        <!-- 引入 jQuery -->
        <script type="text/javascript" th:src="@{/plugin/jQuery-1.12.4/jquery.min.js}"></script>
        <!-- 引入 jQuery easyui -->
        <script type="text/javascript" th:src="@{/plugin/jquery-easyui-1.5.5.5/jquery.easyui.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugin/jquery-easyui-1.5.5.5/easyui-lang-zh_CN.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/plugin/jquery-easyui-1.5.5.5/themes/default/easyui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/plugin/jquery-easyui-1.5.5.5/themes/icon.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/plugin/jquery-easyui-1.5.5.5/themes/color.css}">
        <!-- 引入 常用js -->

    </head>
    <body>
    <div layout:fragment="content">
        默认内容
    </div>
    </body>
</html>